<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-fCcWPcz8z2Ztloz8X9fbt9c0089wh-E</string>
	<key>GCM_SENDER_ID</key>
	<string>240836841430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciil.bhashasagarapp</string>
	<key>PROJECT_ID</key>
	<string>bhashasagar-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>bhashasagar-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240836841430:ios:1cb5655a6f9f81b5b91e77</string>
</dict>
</plist>